html,
div.todo
{
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px  ;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
}
  
div.aa
  {
    background-color: yellow;
     text-align: center;
     border-style: groove;
     font-weight: bolder;
  }

.m1 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }
 .m2 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }
 .m3 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }
 .m4 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }
 .m5 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }
 .m6 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }
 .m7 {
  display: grid;
  text-align: center;
  border-style: groove;
  font-weight: bolder;
 }